<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
<body>
<div class="position-absolute bottom-50 end-50">
<form method="POST" name="formlogin" action="login">
    <table border="0" cellspacing="0" width="400" cellpadding="5" align="center">
        <tr>
            <td colspan="2" class="header">Login Masuk</td>
        </tr>
        <tr>
            <td class="caption">username</td>
            <td><input type=text name ="id_user" size="30" class="textlogin" /></td>
        </tr>
        <td class="caption">pasword</td>
        <td><input type="password" name="sandi"size="30" class="textlogin" /></td>
        </tr>
        <tr >
            <td></td>
            <td><input type="submit" name="submit"
                       value="Login"/></td>
        </tr>
    </table>
</form>

</div>


</body>
</html>


